.textarea {
   top: 0;
   width: 98%;
   height: 60%;
   background-color: #eee;
   outline: 0;
   border: 1px solid #ccc;
   color: #333;
   font-family: Arial, Helvetica, sans-serif;
   resize: none;
   transition: background-color 0.2s linear, border 0.2s linear;
}

.textarea:hover,
.textarea:active,
.textarea:focus {
   background-color: rgb(241, 241, 241);
   border: 1px solid #aaa;
}

.send__button {
   position: absolute;
   right: 20px;
   bottom: 15px;

   width: 15%;
   height: 20%;

   color: #fff;
   font-weight: 700;
   font-size: 15px;
   background-color: #14cd68;

   border: 0;
   cursor: pointer;
   text-transform: uppercase;

   transition: background 0.2s linear;
}

.send__button:hover {
   background-color: #10a553;
}

.sendMessageArea {
   height: 100%;
   width: 100%;
   position: absolute;
   bottom: 0;
   grid-column: span 2;
   grid-row: span 2;
}
