.feed {
   grid-column: span 1;
   grid-row: span 1;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(3, 1fr);
   grid-gap: 10px;
}

.img {
   src: url("../../../assets/img/avatar__circled.png");
}
