.nav {
   grid-column: span 1;
   grid-row: span 14;
   background-color: #14cd68;
   padding: 20px;
}

.item a {
   font-size: 20px;
   color: white;
   text-decoration: none;
   cursor: pointer;
   transition: color 0.2s linear;
}

.item {
   margin-bottom: 5px;
}

.item a:hover {
   color: #ffd900;
}

.active {
   background-color: #10aa55;
   border-radius: 5px;
   padding: 0 5px 5px 5px;
}

.item:last-child {
   margin-top: 10px;
}
