.App {
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.app-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 10px;
}
